<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
</head>
<body>

<h1>タスク一覧</h1>

<form th:action="@{/add}" method="post">
	
	<label>タイトル</label>
	<input type="text" name="title">
	
	<label>ステータス</label>
	
	<select name="status">
		<option>未着手</option>
		<option>進行中</option>
		<option>完了</option>
	</select>
	
	<button type="submit">
		登録
	</button>
	
</form>

<br>

<table border="1">
	
<tr>
	<th>ID</th>
	<th>タイトル</th>
	<th>ステータス</th>
	<th>操作</th>
</tr>

<tr th:each="task : ${tasks}">
	<td th:text="${task.id}"></td>
	<td th:text="${task.title}"></td>
	<td th:text="${task.status}"></td>
	<td>
		<a th:href="@{/edit/{id}(id=${task.id})}">
			編集
		</a>
		
		<a th:href="@{/delete/{id}(id=${task.id})}"
		onclick="return confirm('削除しますか？');">
		
		削除
		
		</a>
	</td>
</tr>

</table>

</body>
</html>